<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<section class="py-5">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">Your Ebook should be emailed to you within 1 business day</p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>